.restaurant{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.food-container{
    max-width: 80%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.cart-container{
    background-color: antiquewhite;
    max-width: 20%;
    padding: 20px;
    position: sticky;
    top: 0px;
}


@media (max-width:1800px) {
    .food-container{
        max-width: 75%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    } 
}
@media (max-width:1440px) {
    .restaurant{
        padding:0px;
    }
    .food-container{
        max-width: 65%;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    } 
    .cart-container{
        max-width: 35%;
        margin: 20px;
    }
}
@media (max-width:1080px) {
    .restaurant{
        padding: 0px;
    }
    .food-container{
        max-width: 55%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    } 
    .cart-container{
        max-width: 30%;
    }
}
@media (max-width:770px) {
    .restaurant{
        padding:0px;
    }
    .food-container{
        max-width: 55%;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    } 
    .cart-container{
        max-width: 45%;
    }
}